:root {
  --size-of-grid: 16;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  height: 40vw;
  width: 40vw;
  margin: 40px;
  justify-content: center;
  align-items: center;
}

.grid-square {
  border: 0.5px solid #000000;
  width: 6.25%;
  height: 6.25%;
}

.user-grid {
  border: 0.5px solid black;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  padding: 10px;
  font-size: 1.1rem;
  font-family: Verdana, sans-serif;
  color: white;
  background-color: black;
  border: 0px;
  transition: 0.25s;
}

.btn:hover {
  background-color: blue;
}

#main-title {
  text-align: center;
  font-family: Garamond, sans-serif;
}
